body{

    background-color: #fff0f5;
    padding: 3% 15%;
    text-align: center;
}

hr{
  margin-left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #efa8e4;
  border-style: none;
  margin-bottom: 2rem;
}

#footer p{
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 1rem;
}
h1{
  padding: 0 auto 0 auto;
  font-size:2.5rem;
  letter-spacing: -0.1rem;
  margin: 0 auto 0 auto;
  color: #405286;
  height: auto;
}
h1,h5{
  font-family: "Vollkorn";
}
p{
  font-family: "Lato";
  text-align: left;
  }

.sub-title{
    font-size:1rem;
    text-align:center;
    padding: 0 auto 0.5rem auto;
    margin: 0 auto 0 auto;
  
}

.top-space{

  margin: 0 auto 0 auto;
  
  
}

.img-container{
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.title-img{
  height: 12rem;
  width: 12rem;
  border-radius: 6rem;
}

.logo-back{
  background-color: #b4a9b1;
}

.btn-container{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Top Buttons */

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
  }
  
  
  .top-btn{
    border-radius: 12px;    
  }
  
  .top-btn:active{
    color: red;
  }
  

/* Grow Shadow */
.elem{
    /* display: inline-block; */
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 10px 10px -10px rgba(241, 130, 141,1);              
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .elem:hover,.elem:focus, .elem:active {
    /* box-shadow: 0 10px 10px -10px rgba(241, 130, 141,1); */
    box-shadow: 0 0 1px rgba(0,0,0, 0);
    /* border-style: solid;
    border-color:  red; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .content-space{
    padding-top:1.5rem;
  }

  

  .card{

    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 3px;
    text-align: left;
    margin: 7px 7px;
  }
  
  .card.elem{
    border-radius: 12px;
    padding: 1rem 2rem 1rem 2rem;
  }
  
  